## Setup spark

## Ingestão
Leitura dos dados no banco de dados e upload para a storage account

In [0]:
from datetime import datetime

now = datetime.now()

from pyspark.sql import SparkSession

STRG_CONTAINER_KEY = 'INSERT YOUR KEY'

session = SparkSession.builder.getOrCreate()

session.conf.set("spark.sql.sourcers.commitProtocolClass", "org.apache.spark.sql.execution.datasources.SQLHadoopMapReduceCommitProtocol")
session.conf.set("parquet.enable.summary-metadata", "false")
session.conf.set("fs.azure.account.key.trabalho06022003.dfs.core.windows.net", STRG_CONTAINER_KEY)

In [0]:
from pyspark.sql.functions import col

ingestion_strg = "abfss://ingestion@trabalho06022003.dfs.core.windows.net/carloca/" + str(now.year) + "/" + now.strftime('%m') + "/" + now.strftime('%d')

tables = [
    'loc_age_bco',
    'loc_agencia','loc_banco','loc_cargo','loc_cidade','loc_cliente','loc_cor','loc_depto','loc_estado','loc_fabricante','loc_fone_cliente','loc_funcionario','loc_grupo','loc_item_locacao','loc_modelo','loc_operadora','loc_pedido_locacao','loc_proprietario','loc_tp_automovel','loc_tp_cliente','loc_tp_combustivel','loc_veiculo'
]

print(f"TABLE COUNT: {len(tables)}")

for t in tables:
    df = spark.read.format('mysql').\
        option("host", "HOST").\
        option("port", "3306").\
        option("database", "carloca").\
        option("dbtable", t).\
        option("user", "USER").\
        option("password", "PASSWORD").\
        load()
    
    print(t)
    print(df.printSchema())

    #  lower case column names for better joins
    df = df.select([col(x).alias(x.lower()) for x in df.columns])
    
    df.show()
    df.write.parquet(ingestion_strg + "/" + t + ".parquet", mode="overwrite")

TABLE COUNT: 22
loc_age_bco
root
 |-- cd_agencia: integer (nullable = true)
 |-- Nm_Agencia: string (nullable = true)
 |-- cd_banco: integer (nullable = true)

None
+----------+--------------------+--------+
|cd_agencia|          nm_agencia|cd_banco|
+----------+--------------------+--------+
|         1|       RUA BOA VISTA|     246|
|         2|       RUA BOA VISTA|      25|
|         3|       RUA BOA VISTA|     641|
|         4|       RUA BOA VISTA|      29|
|         5|       RUA BOA VISTA|      38|
|         6|       RUA BOA VISTA|     740|
|         7|     RUA 25 DE MAR?O|     107|
|         8|     RUA 25 DE MAR?O|      31|
|         9|RUA BAR?O DE LIMEIRA|      96|
|        10|        AV. PAULISTA|     394|
|        11|  RUA 15 DE NOVEMBRO|     318|
|        12|        AV. PAULISTA|     752|
|        13|       RUA BOA VISTA|     248|
|        14|        AV. PAULISTA|      36|
|        15|        AV. PAULISTA|     237|
|        16|  RUA 15 DE NOVEMBRO|     225|
|        17|  RUA 15 DE NOVEMBRO|      44|
|        18|       RUA BOA VISTA|     263|
|        19|  RUA 15 DE NOVEMBRO|     222|
|        20|  RUA 15 DE NOVEMBRO|      40|
+----------+--------------------+--------+
only showing top 20 rows

loc_agencia
root
 |-- cd_Agencia: integer (nullable = true)
 |-- Nm_Agencia: string (nullable = true)
 |-- cd_Cidade: integer (nullable = true)

None
+----------+--------------------+---------+
|cd_agencia|          nm_agencia|cd_cidade|
+----------+--------------------+---------+
|         1| VINTE E UM DE ABRIL|        1|
|         2|          IBIRAPUERA|        1|
|         3|            S?O JO?O|        1|
|         4|              SUMARE|        1|
|         5|    JOSE DINIZ CUNHA|        2|
|         6| VEREADOR JOSE DINIZ|        3|
|         7|       SAO SEBASTIAO|        3|
|         8|        VILA BELMIRO|        4|
|         9|              CENTRO|       72|
|        10|     CARLOS NOGUEIRA|       73|
|        11|             VIDIGAL|       74|
|        12|         PONTE PRETA|        6|
|        13|       SETE DE ABRIL|       75|
|        14|       VILA MADALENA|       77|
|        15|TRINTA E UM DE JA...|       12|
|        16|           COQUEIROS|       13|
|        17|          MIRANDO JR|       15|
|        18|          GROELANDIA|       16|
|        19|             PRAINHA|       21|
|        20|           RIO PRETO|       16|
+----------+--------------------+---------+
only showing top 20 rows

loc_banco
root
 |-- cd_Banco: integer (nullable = true)
 |-- Nm_Banco: string (nullable = true)
 |-- url: string (nullable = true)

None
+--------+--------------------+--------------------+
|cd_banco|            nm_banco|                 url|
+--------+--------------------+--------------------+
|       1|Banco do Brasil S...|http://www.bb.com.br|
|       3|Banco da Amaz?nia...|http://www.bancoa...|
|       4|Banco do Nordeste...|http://www.bancon...|
|      21|BANESTES S.A. Ban...|http://www.banest...|
|      24|Banco de Pernambu...|http://www.bandep...|
|      25|    Banco Alfa S.A. |http://www.bancoa...|
|      27|Banco do Estado d...|http://www.besc.c...|
|      29|  Banco Banerj S.A. |http://www.banerj...|
|      31|    Banco Beg S.A.  |http://www.itau.c...|
|      33|Banco Santander S...|http://www.santan...|
|      36|Banco Bradesco BB...|                null|
|      37|Banco do Estado d...|http://www.banpar...|
|      38|Banco Banestado S...|http://www.banest...|
|      40|Banco Cargill S.A.  |http://www.bancoc...|
|      41|Banco do Estado d...|http://www.banris...|
|      44|    Banco BVA S.A.  |http://www.bancob...|
|      45|Banco Opportunity...|http://www.opport...|
|      47|Banco do Estado d...|http://www.banese...|
|      62|Hipercard Banco M...|http://www.banco1...|
|      63|Banco Ibi S.A. Ba...|http://www.ibi.co...|
+--------+--------------------+--------------------+
only showing top 20 rows

loc_cargo
root
 |-- Cd_Cargo: integer (nullable = true)
 |-- Nm_Cargo: string (nullable = true)

None
+--------+-------------+
|cd_cargo|     nm_cargo|
+--------+-------------+
|       1|   Presidente|
|       2|      Diretor|
|       3|      Gerente|
|       4|          CIO|
|       5|           BI|
|       6|    Atendente|
|       7|     Vendedor|
|       8|   Supervisor|
|       9|   Estagiario|
|      10|  Programador|
|      11|Filho do Dono|
+--------+-------------+

loc_cidade
root
 |-- Cd_Cidade: integer (nullable = true)
 |-- Nm_Cidade: string (nullable = true)
 |-- Cd_Estado: integer (nullable = true)

None
+---------+--------------------+---------+
|cd_cidade|           nm_cidade|cd_estado|
+---------+--------------------+---------+
|        1|           SAO PAULO|        3|
|        2|           AMERICANA|        3|
|        3|      RIBEIRAO PRETO|        3|
|        4|              SANTOS|        3|
|        5|             JUNDIAI|        3|
|        6|            CAMPINAS|        3|
|        7|          SAO CARLOS|        3|
|        8|             MIRASOL|        3|
|        9|           COSMORAMA|        3|
|       10|               JALES|        3|
|       11|     SANTA FE DO SUL|        3|
|       12|          SAO CARLOS|        3|
|       13|            SOROCABA|        3|
|       14|           SAO ROQUE|        3|
|       15|          ARARAQUARA|        3|
|       16|SAO JOSE DO RIO P...|        3|
|       17|           ARACATUBA|        3|
|       18|          PIRACICABA|        3|
|       19|              IBIUNA|        3|
|       20|      MOGI DA CRUZES|        3|
+---------+--------------------+---------+
only showing top 20 rows

loc_cliente
root
 |-- Cd_cliente: integer (nullable = true)
 |-- Nm_Cliente: string (nullable = true)
 |-- Cd_Tp_Cliente: integer (nullable = true)
 |-- Nr_Estrelas: integer (nullable = true)
 |-- Nr_Habilitacao: integer (nullable = true)

None
+----------+--------------------+-------------+-----------+--------------+
|cd_cliente|          nm_cliente|cd_tp_cliente|nr_estrelas|nr_habilitacao|
+----------+--------------------+-------------+-----------+--------------+
|         1|ANA RAQUEL FERNANDES|            1|          5|            92|
|         2|     BEATRIZ LADEIRA|            1|          3|       9293984|
|         3|      CARLOS BARBOSA|            1|          2|       9293984|
|         4|      DAYSE OLIVEIRA|            1|          2|       9293984|
|         5|ERNESTO HONESTO D...|            1|          3|         92939|
|         6|       FATIMA SOARES|            1|          3|      80012529|
|         7|      GISELE HOFMANN|            1|          3|         11254|
|         8|MOISES DE PAULA M...|            1|          3|        929398|
|         9|     GASQUES BORDONI|            1|          5|       1258544|
|        10|       HELIO GOTARGO|            1|          5|        111525|
|        11|HERMES SILVESTRE ...|            1|          5|         92939|
|        12|      JOAO PANTALEAO|            1|          5|        929398|
|        13|      PALOMA ALMEIDA|            1|          5|        929398|
|        14|ELIANA MAGDA DE L...|            1|          5|        929398|
|        15|JOSE RODRIGUES DE...|            1|          5|      11152589|
|        16|      CARLOS BARROSO|            1|          2|      11525899|
|        17| JOAO BORGES CATALAO|            1|          2|        929398|
|        18|LOURENCO PEREIRA ...|            1|          2|         92939|
|        19|  MARCELINO CARNEIRO|            1|          2|       9293984|
|        20|          JOAO ATLAS|            2|          2|       9293984|
+----------+--------------------+-------------+-----------+--------------+
only showing top 20 rows

loc_cor
root
 |-- cd_Cor: integer (nullable = true)
 |-- Desc_Cor: string (nullable = true)

None
+------+--------+
|cd_cor|desc_cor|
+------+--------+
|     1|  Branco|
|     2|   Preto|
|     3|   Prata|
|     4|    Azul|
|     5|   Verde|
|     6|Vermelho|
|     7| Amarelo|
+------+--------+

loc_depto
root
 |-- Cd_Depto: integer (nullable = true)
 |-- Nm_Depto: string (nullable = true)
 |-- Vl_Orc_Depto: decimal(10,2) (nullable = true)

None
+--------+--------------------+------------+
|cd_depto|            nm_depto|vl_orc_depto|
+--------+--------------------+------------+
|       0| Conselho Acionistas|   100000.00|
|      10|          Financeiro|    50000.00|
|      31|Vendas - Regi?o N...|    25000.00|
|      32| Vendas - Regi?o Sul|    25000.00|
|      33|Vendas - Regi?o S...|    25000.00|
|      34|Vendas - Regi?o N...|    25000.00|
|      35|Vendas - Regiao C...|    20000.00|
|      41|Operacional - Reg...|    12000.00|
|      42|Operacional - Reg...|    15000.00|
|      43|Operacional - Reg...|    17000.00|
|      44|Operacional - reg...|    13000.00|
|      45|Operacional - Reg...|    16000.00|
|      50| Administracao Geral|    35000.00|
|      51|Prospeccao de Cli...|    40000.00|
+--------+--------------------+------------+

loc_estado
root
 |-- Cd_Estado: integer (nullable = true)
 |-- Nm_Estado: string (nullable = true)
 |-- Sigla_Estado: string (nullable = true)

None
+---------+-------------------+------------+
|cd_estado|          nm_estado|sigla_estado|
+---------+-------------------+------------+
|        1|   Distrito Federal|          DF|
|        2|     RIO DE JANEIRO|          RJ|
|        3|          S?o Paulo|          SP|
|        4|            Alagoas|          AL|
|        5|            Sergipe|          SE|
|        6|         Pernambuco|          PE|
|        7|     Esp?rito Santo|          ES|
|        8|            Para?ba|          PB|
|        9|     Santa Catarina|          SC|
|       10|Rio Grande do Norte|          RN|
|       11|               Cear|          CE|
|       12|              Paran|          PR|
|       13|  Rio Grande do Sul|          RS|
|       14|       Minas Gerais|          MG|
|       15|              Bahia|          BA|
|       16|             Maranh|          MA|
|       17|                Goi|          GO|
|       18|               Piau|          PI|
|       19| Mato Grosso do Sul|          MS|
|       20|           Rond?nia|          RO|
+---------+-------------------+------------+
only showing top 20 rows

loc_fabricante
root
 |-- cd_Fabricante: integer (nullable = true)
 |-- Nm_Fabricante: string (nullable = true)

None
+-------------+-------------+
|cd_fabricante|nm_fabricante|
+-------------+-------------+
|            1|    Chevrolet|
|            2|         Fiat|
|            3|         Ford|
|            4|        Honda|
|            5|   Vollswagen|
|            6|     Vermelho|
|            7|         Audi|
|            8|    Masserati|
|            9|      Ferrari|
|           10|       Jaguar|
|           11|  Lamborghini|
|           12|          BMW|
|           13|       Toyota|
|           14|       Porshe|
|           15|      Peugeot|
|           16|      Citroen|
|           17|        Volvo|
|           18|     Mercedes|
|           19|      Renault|
+-------------+-------------+

loc_fone_cliente
root
 |-- cd_Fone_Cliente: integer (nullable = true)
 |-- Nm_Fone_Cliente: string (nullable = true)
 |-- cd_Cliente: integer (nullable = true)
 |-- cd_Operadora: integer (nullable = true)

None
+---------------+---------------+----------+------------+
|cd_fone_cliente|nm_fone_cliente|cd_cliente|cd_operadora|
+---------------+---------------+----------+------------+
|              1| 11 974 324 111|         1|           1|
|              2| 11 954 324 131|         2|           1|
|              3| 11 954 324 431|         3|           2|
|              4| 11 954 355 431|         4|           2|
|              5| 11 974 356 111|         5|           3|
|              6| 11 954 764 131|         6|           4|
|              7| 11 954 774 431|         7|           4|
|              8| 11 954 884 431|         8|           4|
|              9| 11 954 554 431|         9|           1|
|             11| 51 934 555 111|        11|           1|
|             12| 51 954 551 131|        12|           2|
|             13| 51 953 323 433|        33|           1|
|             14| 51 954 324 435|        41|           3|
|             15| 51 974 324 155|        15|           4|
|             16| 51 954 375 441|        16|           5|
|             17| 51 954 367 661|        57|           1|
|             18| 51 954 355 431|        38|           1|
|             19| 51 954 344 431|        29|           2|
+---------------+---------------+----------+------------+

loc_funcionario
root
 |-- Cd_Func: integer (nullable = true)
 |-- Nm_Func: string (nullable = true)
 |-- Dt_Inicio: date (nullable = true)
 |-- Cd_Gerente: integer (nullable = true)
 |-- Nr_CPF: integer (nullable = true)
 |-- Vl_Salario: decimal(11,2) (nullable = true)
 |-- Vl_Perc_Comissao: decimal(5,2) (nullable = true)
 |-- Cd_Depto: integer (nullable = true)
 |-- Cd_Cargo: integer (nullable = true)

None
+-------+--------------------+----------+----------+------+----------+----------------+--------+--------+
|cd_func|             nm_func| dt_inicio|cd_gerente|nr_cpf|vl_salario|vl_perc_comissao|cd_depto|cd_cargo|
+-------+--------------------+----------+----------+------+----------+----------------+--------+--------+
|      1|         Yuri Gagari|2012-01-01|         0|  null|  23567.98|           25.00|      50|       1|
|      2|      Maria Oliveira|2013-01-01|         1|  null|  12258.45|           10.00|      50|       2|
|      3|      Simone Batista|2013-12-18|         1|  null|   6985.63|            7.00|      50|       2|
|      4|     Adriana Doretto|2013-05-18|         3|  null|   7145.74|            3.00|      42|       3|
|      5|    MariaLinda Sauro|2013-03-13|         3|  null|   7145.74|            3.00|      42|       3|
|      6|  Marinaldo de Souza|2013-03-13|         2|  null|   6945.74|            3.00|      42|       3|
|      7|Jose Carlos da Silva|2013-04-13|         2|  null|   7145.74|            3.00|      42|       3|
|      8|          Ana Raquel|2013-03-13|         2|  null|   9000.00|            3.00|      50|       4|
|      9|       Carlo Noronha|2015-03-13|         2|  null|   7500.75|            3.00|      42|       5|
|     10|      Diogo Sanguino|2013-03-13|         3|  null|   2145.74|            3.00|      10|       6|
|     11|     Eleonora Sintra|2013-03-13|         3|  null|   2145.74|            3.00|      10|       6|
|     12|         Helio Gomes|2017-03-13|         6|  null|   5145.74|            3.00|      10|       7|
|     13|   Rogerio Reis Lima|2019-03-13|         6|  null|   5145.74|            3.00|      33|       7|
|     14|   Geraldo Reis Lima|2020-03-13|         6|  null|   5145.74|            3.00|      33|       7|
|     15|Eduardo Satoru Sakai|2013-03-13|         6|  null|   2145.74|            3.00|      33|       6|
|     16|   Daiane dos Santos|2015-03-13|         4|  null|   4145.74|            3.00|      35|       7|
|     17|   Aline de Oliveira|2014-03-13|         4|  null|   8145.74|            3.00|      35|      10|
|     18|     Jozivaldo Abreu|2019-03-13|         4|  null|   3145.74|            3.00|      34|       8|
|     19|      Ricardo Genaro|2017-03-13|         4|  null|   1145.00|            3.00|      44|       9|
|     20|     Marcos da Cunha|2018-01-11|         4|  null|   2145.74|            3.00|      44|       6|
+-------+--------------------+----------+----------+------+----------+----------------+--------+--------+
only showing top 20 rows

loc_grupo
root
 |-- cd_Grupo: integer (nullable = true)
 |-- Nm_Grupo: string (nullable = true)

None
+--------+--------------------+
|cd_grupo|            nm_grupo|
+--------+--------------------+
|       0|        Carro Antigo|
|       1|        Carro B?sico|
|       2|        Perua B?sico|
|       3|Carro com ar cond...|
|       4|Perua com ar cond...|
|       5|     Carro Esportivo|
|       6|       Carro de Luxo|
|       7|       Carro Moderno|
|       8|      Carro Especial|
+--------+--------------------+

loc_item_locacao
root
 |-- Nr_Pedido: integer (nullable = true)
 |-- Nr_Placa: string (nullable = true)
 |-- Vl_Diaria: decimal(10,2) (nullable = true)
 |-- Vl_Diaria_Calc: decimal(10,2) (nullable = true)

None
+---------+--------+---------+--------------+
|nr_pedido|nr_placa|vl_diaria|vl_diaria_calc|
+---------+--------+---------+--------------+
|        1| AWW1956|  1934.00|          null|
|        1| CCR4567|  3356.00|          null|
|        1| CZR9988|   829.00|          null|
|        1| DRV4395|   102.00|          null|
|        1| DRV4397|   620.00|          null|
|        1| DSE8990|  2458.00|          null|
|        1| DVC4345|  1003.00|          null|
|        1| FFG4433|  6046.00|          null|
|        1| GHJ4511| 12370.00|          null|
|        1| MNN2521|  1739.00|          null|
|        1| OXO9002| 14000.00|          null|
|        1| PLO1200|  4175.00|          null|
|        1| POO3456|   249.00|          null|
|        1| PQT3333| 11667.00|          null|
|        2| BZT2255|   512.00|          null|
|        2| CCC2400|  1397.00|          null|
|        2| CCR4567|  3356.00|          null|
|        2| CZR9988|   764.00|          null|
|        2| DRV4395|   103.00|          null|
|        2| DVC4345|  1004.00|          null|
+---------+--------+---------+--------------+
only showing top 20 rows

loc_modelo
root
 |-- cd_Modelo: integer (nullable = true)
 |-- Nm_Modelo: string (nullable = true)
 |-- cd_Fabricante: integer (nullable = true)

None
+---------+----------------+-------------+
|cd_modelo|       nm_modelo|cd_fabricante|
+---------+----------------+-------------+
|        1|          Vectra|            1|
|        2|          Tempra|            2|
|        3|           CORSA|            1|
|        4|           Palio|            2|
|        5|       Volvo S80|           17|
|        6|       Brava    |            2|
|        7|             Gol|            5|
|        8|             Fit|            4|
|        9|          Parati|            5|
|       10|          Fiesta|            3|
|       11|           Civic|            4|
|       12|         Corolla|            3|
|       13|             206|           15|
|       14|           Focus|            3|
|       15|           RAV4 |           13|
|       16|           Marea|            2|
|       17|         Audi A4|            7|
|       18|         Audi A6|            7|
|       19|            Golf|            5|
|       20|Mercedes Class A|           18|
+---------+----------------+-------------+
only showing top 20 rows

loc_operadora
root
 |-- cd_Operadora: integer (nullable = true)
 |-- Nm_Operadora: string (nullable = true)

None
+------------+------------+
|cd_operadora|nm_operadora|
+------------+------------+
|           1|         TIM|
|           2|        VIVO|
|           3|       CLARO|
|           4|  TELEFONICA|
|           5|          OI|
|           6|    EMBRATEL|
+------------+------------+

loc_pedido_locacao
root
 |-- Nr_Pedido: integer (nullable = true)
 |-- Dt_Locacao: date (nullable = true)
 |-- Cd_Cliente: integer (nullable = true)
 |-- Cd_Agencia: integer (nullable = true)
 |-- Qt_Dias: integer (nullable = true)
 |-- Vl_Total: decimal(10,2) (nullable = true)
 |-- Status: string (nullable = true)
 |-- Dt_Retirada: date (nullable = true)
 |-- Dt_Entrega: date (nullable = true)
 |-- Cd_Func: integer (nullable = true)
 |-- Dt_Pagto: date (nullable = true)
 |-- Cd_Age_Bco: integer (nullable = true)

None
+---------+----------+----------+----------+-------+--------+------+-----------+----------+-------+----------+----------+
|nr_pedido|dt_locacao|cd_cliente|cd_agencia|qt_dias|vl_total|status|dt_retirada|dt_entrega|cd_func|  dt_pagto|cd_age_bco|
+---------+----------+----------+----------+-------+--------+------+-----------+----------+-------+----------+----------+
|        1|2013-01-15|         1|         1|      1|  130.00|     D| 2013-01-15|2013-01-16|     10|2013-01-16|         1|

## Manager
Agregação dos dados ingeridos e upload para a storage account

In [0]:
ingestion_strg = "abfss://ingestion@trabalho06022003.dfs.core.windows.net/carloca/" + str(now.year) + "/" + now.strftime('%m') + "/" + now.strftime('%d')
manager_strg = "abfss://manager@trabalho06022003.dfs.core.windows.net/carloca/" + str(now.year) + "/" + now.strftime('%m') + "/" + now.strftime('%d')

manager = spark.read.parquet(ingestion_strg + '/loc_operadora.parquet')

# jtable and join with which column
joins = {
    # cliente
    'loc_fone_cliente': 'cd_operadora',
    'loc_cliente': 'cd_cliente',
    'loc_tp_cliente': 'cd_tp_cliente',
    # cliente -> pedido
    'loc_pedido_locacao': 'cd_cliente',
    # pedido -> itens
    'loc_item_locacao': 'nr_pedido',
    # pedido -> loja
    'loc_agencia': 'cd_agencia',
    'loc_cidade': 'cd_cidade',
    'loc_estado': 'cd_estado',
    # item -> veículo
    'loc_veiculo': 'nr_placa',
    'loc_proprietario': 'cd_proprietario',
    'loc_cor': 'cd_cor',
    'loc_grupo': 'cd_grupo',
    'loc_tp_automovel': 'cd_tp_automovel',
    'loc_tp_combustivel': 'cd_tp_combustivel',
    # veículo -> modelo
    'loc_modelo': 'cd_modelo',
    'loc_fabricante': 'cd_fabricante',
    # pedido -> agencia de pagamento
    'loc_age_bco': 'cd_age_bco',
    'loc_banco': 'cd_banco',
    # pedido -> funcionario
    'loc_funcionario': 'cd_func',
    'loc_cargo': 'cd_cargo',
    'loc_depto': 'cd_depto',
}

# for each table and join column
for t, c in joins.items():
    # read the table data
    df = spark.read.parquet(ingestion_strg + '/' + t + '.parquet')

    # make adjusments to the dataframe if needed
    if t == 'loc_pedido_locacao':
        df = df.withColumnRenamed('status', 'pedido_status')
    elif t == 'loc_item_locacao':
        df = df.withColumnRenamed('vl_diaria', 'item_pedido_vl_diaria')
        df = df.withColumnRenamed('vl_diaria_calc', 'item_pedido_vl_diaria_calc')
    elif t == 'loc_veiculo':
        df = df.withColumnRenamed('status', 'veiculo_status')
        df = df.withColumnRenamed('vl_diaria', 'veiculo_vl_diaria')
        df = df.withColumnRenamed('tp_automovel', 'cd_tp_automovel')
        df = df.withColumnRenamed('tp_combustivel', 'cd_tp_combustivel')
    elif t == 'loc_age_bco':
        df = df.withColumnRenamed('cd_agencia', 'cd_age_bco')
        df = df.withColumnRenamed('nm_agencia', 'nm_age_bco')
    elif t == 'loc_proprietario':
        df = df.withColumnRenamed('nr_cpf', 'nr_cpf_proprietario')
    elif t == 'loc_funcionario':
        df = df.withColumnRenamed('nr_cpf', 'nr_cpf_funcionario')
    
    # do equivalent join with other table
    manager = manager.join(df, on=c)

In [0]:
# append manager table
loc_funcionario = spark.read.parquet(ingestion_strg + '/loc_funcionario.parquet')
loc_cargo = spark.read.parquet(ingestion_strg + '/loc_cargo.parquet')
# loc_depto = spark.read.parquet(ingestion_strg + '/loc_depto.parquet')

# loc_gerente = loc_funcionario.withColumnRenamed('cd_gerente', 'cd_gerente_gerente')\
#     .withColumnRenamed('cd_func', 'cd_gerente')\
#     .withColumnRenamed('nm_func', 'nm_gerente')\
#     .withColumnRenamed('dt_inicio', 'dt_inicio_gerente')\
#     .withColumnRenamed('nr_cpf', 'nr_cpf_gerente')\
#     .withColumnRenamed('vl_salario', 'vl_salario_gerente')\
#     .withColumnRenamed('vl_perc_comissao', 'vl_perc_comissao_gerente')\
#     .join(loc_depto, on='cd_depto')\
#     .withColumnRenamed('nm_depto', 'nm_depto_gerente')\
#     .withColumnRenamed('cd_depto', 'cd_depto_gerente')\
#     .withColumnRenamed('vl_orc_depto', 'vl_orc_depto_gerente')\
#     .join(loc_cargo, on='cd_cargo')\
#     .withColumnRenamed('nm_cargo', 'nm_cargo_gerente')\
#     .withColumnRenamed('cd_cargo', 'cd_cargo_gerente')

# manager = manager.join(loc_gerente, 'cd_gerente', 'inner')

In [0]:
manager.printSchema()

manager.write.parquet(manager_strg + "/manager.parquet", mode="overwrite")

root
 |-- cd_depto: integer (nullable = true)
 |-- cd_cargo: integer (nullable = true)
 |-- cd_func: integer (nullable = true)
 |-- cd_banco: integer (nullable = true)
 |-- cd_age_bco: integer (nullable = true)
 |-- cd_fabricante: integer (nullable = true)
 |-- cd_modelo: integer (nullable = true)
 |-- cd_tp_combustivel: integer (nullable = true)
 |-- cd_tp_automovel: integer (nullable = true)
 |-- cd_grupo: integer (nullable = true)
 |-- cd_cor: integer (nullable = true)
 |-- cd_proprietario: integer (nullable = true)
 |-- nr_placa: string (nullable = true)
 |-- cd_estado: integer (nullable = true)
 |-- cd_cidade: integer (nullable = true)
 |-- cd_agencia: integer (nullable = true)
 |-- nr_pedido: integer (nullable = true)
 |-- cd_cliente: integer (nullable = true)
 |-- cd_tp_cliente: integer (nullable = true)
 |-- cd_operadora: integer (nullable = true)
 |-- nm_operadora: string (nullable = true)
 |-- cd_fone_cliente: integer (nullable = true)
 |-- nm_fone_cliente: string (nullable = true)
 |-- nm_cliente: string (nullable = true)
 |-- nr_estrelas: integer (nullable = true)
 |-- nr_habilitacao: integer (nullable = true)
 |-- nm_tp_cliente: string (nullable = true)
 |-- dt_locacao: date (nullable = true)
 |-- qt_dias: integer (nullable = true)
 |-- vl_total: decimal(10,2) (nullable = true)
 |-- pedido_status: string (nullable = true)
 |-- dt_retirada: date (nullable = true)
 |-- dt_entrega: date (nullable = true)
 |-- dt_pagto: date (nullable = true)
 |-- item_pedido_vl_diaria: decimal(10,2) (nullable = true)
 |-- item_pedido_vl_diaria_calc: decimal(10,2) (nullable = true)
 |-- nm_agencia: string (nullable = true)
 |-- nm_cidade: string (nullable = true)
 |-- nm_estado: string (nullable = true)
 |-- sigla_estado: string (nullable = true)
 |-- nr_chassis: string (nullable = true)
 |-- veiculo_status: string (nullable = true)
 |-- km_atual: integer (nullable = true)
 |-- veiculo_vl_diaria: decimal(12,2) (nullable = true)
 |-- nm_proprietario: string (nullable = true)
 |-- nr_cpf_proprietario: integer (nullable = true)
 |-- desc_cor: string (nullable = true)
 |-- nm_grupo: string (nullable = true)
 |-- nm_tp_automovel: string (nullable = true)
 |-- nm_tp_combustivelcol: string (nullable = true)
 |-- nm_modelo: string (nullable = true)
 |-- nm_fabricante: string (nullable = true)
 |-- nm_age_bco: string (nullable = true)
 |-- nm_banco: string (nullable = true)
 |-- url: string (nullable = true)
 |-- nm_func: string (nullable = true)
 |-- dt_inicio: date (nullable = true)
 |-- cd_gerente: integer (nullable = true)
 |-- nr_cpf_funcionario: integer (nullable = true)
 |-- vl_salario: decimal(11,2) (nullable = true)
 |-- vl_perc_comissao: decimal(5,2) (nullable = true)
 |-- nm_cargo: string (nullable = true)
 |-- nm_depto: string (nullable = true)
 |-- vl_orc_depto: decimal(10,2) (nullable = true)

## Query
Disponiblização dos dados para consulta

In [0]:
manager_strg = "abfss://manager@trabalho06022003.dfs.core.windows.net/carloca/" + str(now.year) + "/" + now.strftime('%m') + "/" + now.strftime('%d')

manager = spark.read.parquet(manager_strg + '/manager.parquet')

In [0]:
from pyspark.sql.functions import col, year, month, dayofmonth, dayofweek

# todas as dimensões
client_dim = ['cd_cliente','nm_cliente','cd_tp_cliente','nm_tp_cliente','nr_habilitacao','nr_estrelas','cd_fone_cliente','nm_fone_cliente','cd_operadora','nm_operadora']

produto_dim = [
    # 'nm_veiculo',
    'nm_modelo',
    'nr_placa','nr_chassis','km_atual']

loja_dim = ['cd_agencia','nm_agencia',
            # 'dt_ult_reforma',
            'cd_cidade','nm_cidade','cd_estado','nm_estado']

agencia_bco_dim = ['nm_banco', 'nm_age_bco']

data_dim = ['dt_locacao']

funcionario_dim = ['cd_func','nm_func','dt_inicio','cd_gerente','nr_cpf_funcionario','vl_salario','vl_perc_comissao','cd_depto','cd_cargo']

processo_dim = ['dt_entrega', 'dt_retirada']

proprietario_dim = ['nm_proprietario']

modelo_dim = ['nm_fabricante']

tp_veiculo_dim = ['nm_tp_automovel']

# star schema pedido
fato_pedido = ['vl_total', 'item_pedido_vl_diaria', 'item_pedido_vl_diaria_calc', 'veiculo_vl_diaria', 'km_atual']

star_schema1 = manager.select(client_dim + produto_dim + loja_dim + data_dim + funcionario_dim + processo_dim + fato_pedido)

star_schema1 = star_schema1\
    .withColumn('ano', year('dt_locacao'))\
    .withColumn('mes', month('dt_locacao'))\
    .withColumn('dia', dayofmonth('dt_locacao'))\
    .withColumn('dia_semana', dayofweek('dt_locacao'))

# star schema de produto
fato_produto = ['vl_total', 'item_pedido_vl_diaria', 'item_pedido_vl_diaria_calc', 'veiculo_vl_diaria', 'km_atual']

star_schema2 = manager.select(produto_dim + proprietario_dim + loja_dim + modelo_dim + tp_veiculo_dim + data_dim)

star_schema2 = star_schema2\
    .withColumn('ano', year('dt_locacao'))\
    .withColumn('mes', month('dt_locacao'))\
    .withColumn('dia', dayofmonth('dt_locacao'))\
    .withColumn('dia_semana', dayofweek('dt_locacao'))

# star schema de lojas
fato_produto = ['vl_total', 'item_pedido_vl_diaria', 'item_pedido_vl_diaria_calc', 'veiculo_vl_diaria', 'km_atual']

star_schema3 = manager.select(agencia_bco_dim + funcionario_dim + loja_dim + data_dim)

star_schema3 = star_schema3\
    .withColumn('ano', year('dt_locacao'))\
    .withColumn('mes', month('dt_locacao'))\
    .withColumn('dia', dayofmonth('dt_locacao'))\
    .withColumn('dia_semana', dayofweek('dt_locacao'))

print("STAR SCHEMA PEDIDO")
star_schema1.show()

print("STAR SCHEMA PRODUTO")
star_schema2.show()

print("STAR SCHEMA LOJAS")
star_schema3.show()

STAR SCHEMA PEDIDO
+----------+--------------------+-------------+-------------+--------------+-----------+---------------+---------------+------------+------------+--------------------+--------+-----------------+--------+----------+----------+---------+---------+---------+---------+----------+-------+--------------+----------+----------+------------------+----------+----------------+--------+--------+----------+-----------+--------+---------------------+--------------------------+-----------------+--------+----+---+---+----------+
|cd_cliente|          nm_cliente|cd_tp_cliente|nm_tp_cliente|nr_habilitacao|nr_estrelas|cd_fone_cliente|nm_fone_cliente|cd_operadora|nm_operadora|           nm_modelo|nr_placa|       nr_chassis|km_atual|cd_agencia|nm_agencia|cd_cidade|nm_cidade|cd_estado|nm_estado|dt_locacao|cd_func|       nm_func| dt_inicio|cd_gerente|nr_cpf_funcionario|vl_salario|vl_perc_comissao|cd_depto|cd_cargo|dt_entrega|dt_retirada|vl_total|item_pedido_vl_diaria|item_pedido_vl_diaria_calc|veiculo_vl_diaria|km_atual| ano|mes|dia|dia_semana|
+----------+--------------------+-------------+-------------+--------------+-----------+---------------+---------------+------------+------------+--------------------+--------+-----------------+--------+----------+----------+---------+---------+---------+---------+----------+-------+--------------+----------+----------+------------------+----------+----------------+--------+--------+----------+-----------+--------+---------------------+--------------------------+-----------------+--------+----+---+---+----------+
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|                 206| XDF5600|5V66X67992S156769|   11340|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|              2996.00|                      null|          2950.00|   11340|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|           Brava    | TTT4348|EFFRYGD345ERR1267|    3545|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|              5667.00|                      null|           420.00|    3545|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|      Mercedes 300 E| SXE2343|4V5MM67992FRD3467|    2345|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|              8006.00|                      null|          2100.00|    2345|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|JAGUAR S-TYPE 3.0 V6| SSE2343|4V5MM67992FRD3467|    2345|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|             10015.00|                      null|          2400.00|    2345|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|BMW 318iA COMPACT...| QQQ3344|456MM6DD2FRD3445P|   34234|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|             11966.00|                      null|          1700.00|   34234|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|               CORSA| POO3456|1Z2WE34111V076321|    2200|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|               326.00|                      null|           105.00|    2200|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|               Focus| PLV1200|FGTRYGD345ERR5768|    6545|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|              4666.00|                      null|           132.00|    6545|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|               CORSA| OXO9002|1V5BB45692G120345|   18456|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|             14000.00|                      null|           105.00|   18456|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|                 Fit| NMH5558|XCDFGD34501R09954|    1200|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|              3556.00|                      null|           600.00|    1200|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|           Brava    | DVC4345|4X5MF67992N134568|    4600|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|               994.00|                      null|           135.00|    4600|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|               Palio| DRV4395|4V5MM67992S123467|    3300|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|               146.00|                      null|           110.00|    3300|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|              Vectra| CZR9988|9C2ND28001R099654|    1100|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|               931.00|                      null|           135.00|    1100|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|               SIENA| CCR4567|9CFGD34501R099654|    2000|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|              3134.00|                      null|           140.00|    2000|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|              Parati| AWW1956|1V5BB67992G120345|   19800|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-03-12| 2012-03-09|  250.00|              1863.00|                      null|           320.00|   19800|2012|  3|  9|         6|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|           Brava    | ZXD9001|PORTYGD345BNFG342|   21545|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-04-16|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-04-20| 2012-04-16|  260.00|              6267.00|                      null|           500.00|   21545|2012|  4| 16|         2|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|                 206| XDF5600|5V66X67992S156769|   11340|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-04-16|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-04-20| 2012-04-16|  260.00|              2875.00|                      null|          2950.00|   11340|2012|  4| 16|         2|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|      Mercedes 300 E| SXE2343|4V5MM67992FRD3467|    2345|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-04-16|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-04-20| 2012-04-16|  260.00|              7897.00|                      null|          2100.00|    2345|2012|  4| 16|         2|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|JAGUAR S-TYPE 3.0 V6| SSE2343|4V5MM67992FRD3467|    2345|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-04-16|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-04-20| 2012-04-16|  260.00|             10110.00|                      null|          2400.00|    2345|2012|  4| 16|         2|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|               CORSA| POO3456|1Z2WE34111V076321|    2200|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-04-16|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-04-20| 2012-04-16|  260.00|               326.00|                      null|           105.00|    2200|2012|  4| 16|         2|
|         1|ANA RAQUEL FERNANDES|            1|     PLATINUM|            92|          5|              1| 11 974 324 111|           1|         TIM|               CORSA| OXO9002|1V5BB45692G120345|   18456|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-04-16|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|2012-04-20| 2012-04-16|  260.00|             14000.00|                      null|           105.00|   18456|2012|  4| 16|         2|
+----------+--------------------+-------------+-------------+--------------+-----------+---------------+---------------+------------+------------+--------------------+--------+-----------------+--------+----------+----------+---------+---------+---------+---------+----------+-------+--------------+----------+----------+------------------+----------+----------------+--------+--------+----------+-----------+--------+---------------------+--------------------------+-----------------+--------+----+---+---+----------+
only showing top 20 rows

STAR SCHEMA PRODUTO
+--------------------+--------+-----------------+--------+--------------------+----------+----------+---------+---------+---------+---------+-------------+---------------+----------+----+---+---+----------+
|           nm_modelo|nr_placa|       nr_chassis|km_atual|     nm_proprietario|cd_agencia|nm_agencia|cd_cidade|nm_cidade|cd_estado|nm_estado|nm_fabricante|nm_tp_automovel|dt_locacao| ano|mes|dia|dia_semana|
+--------------------+--------+-----------------+--------+--------------------+----------+----------+---------+---------+---------+---------+-------------+---------------+----------+----+---+---+----------+
|                 206| XDF5600|5V66X67992S156769|   11340|         Yuri Gagari|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|      Peugeot|      Hatchback|2012-03-09|2012|  3|  9|         6|
|           Brava    | TTT4348|EFFRYGD345ERR1267|    3545|VeiVei Veiculos Ltda|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|         Fiat|      Hatchback|2012-03-09|2012|  3|  9|         6|
|      Mercedes 300 E| SXE2343|4V5MM67992FRD3467|    2345|Maria Linda Oliveira|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|     Mercedes|          Sedan|2012-03-09|2012|  3|  9|         6|
|JAGUAR S-TYPE 3.0 V6| SSE2343|4V5MM67992FRD3467|    2345|VeiVei Veiculos Ltda|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|       Jaguar|          Sedan|2012-03-09|2012|  3|  9|         6|
|BMW 318iA COMPACT...| QQQ3344|456MM6DD2FRD3445P|   34234|  Veic veiculos Ltda|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|          BMW|          Sedan|2012-03-09|2012|  3|  9|         6|
|               CORSA| POO3456|1Z2WE34111V076321|    2200|        Celso Santos|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|    Chevrolet|          Sedan|2012-03-09|2012|  3|  9|         6|
|               Focus| PLV1200|FGTRYGD345ERR5768|    6545|        Celso Santos|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|         Ford|      Hatchback|2012-03-09|2012|  3|  9|         6|
|               CORSA| OXO9002|1V5BB45692G120345|   18456|Adriana Lopes da ...|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|    Chevrolet|      Hatchback|2012-03-09|2012|  3|  9|         6|
|                 Fit| NMH5558|XCDFGD34501R09954|    1200|Tamara Rozet        |        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|        Honda|       Roadster|2012-03-09|2012|  3|  9|         6|
|           Brava    | DVC4345|4X5MF67992N134568|    4600|Maria Linda Oliveira|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|         Fiat|      Perua/Van|2012-03-09|2012|  3|  9|         6|
|               Palio| DRV4395|4V5MM67992S123467|    3300|         Yuri Gagari|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|         Fiat|      Hatchback|2012-03-09|2012|  3|  9|         6|
|              Vectra| CZR9988|9C2ND28001R099654|    1100|Adriana Lopes da ...|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|    Chevrolet|          Sedan|2012-03-09|2012|  3|  9|         6|
|               SIENA| CCR4567|9CFGD34501R099654|    2000|VeiVei Veiculos Ltda|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|         Fiat|      Hatchback|2012-03-09|2012|  3|  9|         6|
|              Parati| AWW1956|1V5BB67992G120345|   19800|  Veic veiculos Ltda|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|   Vollswagen|      Perua/Van|2012-03-09|2012|  3|  9|         6|
|           Brava    | ZXD9001|PORTYGD345BNFG342|   21545|VeiVei Veiculos Ltda|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|         Fiat|      Hatchback|2012-04-16|2012|  4| 16|         2|
|                 206| XDF5600|5V66X67992S156769|   11340|         Yuri Gagari|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|      Peugeot|      Hatchback|2012-04-16|2012|  4| 16|         2|
|      Mercedes 300 E| SXE2343|4V5MM67992FRD3467|    2345|Maria Linda Oliveira|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|     Mercedes|          Sedan|2012-04-16|2012|  4| 16|         2|
|JAGUAR S-TYPE 3.0 V6| SSE2343|4V5MM67992FRD3467|    2345|VeiVei Veiculos Ltda|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|       Jaguar|          Sedan|2012-04-16|2012|  4| 16|         2|
|               CORSA| POO3456|1Z2WE34111V076321|    2200|        Celso Santos|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|    Chevrolet|          Sedan|2012-04-16|2012|  4| 16|         2|
|               CORSA| OXO9002|1V5BB45692G120345|   18456|Adriana Lopes da ...|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|    Chevrolet|      Hatchback|2012-04-16|2012|  4| 16|         2|
+--------------------+--------+-----------------+--------+--------------------+----------+----------+---------+---------+---------+---------+-------------+---------------+----------+----+---+---+----------+
only showing top 20 rows

STAR SCHEMA LOJAS
+--------------------+------------------+-------+--------------+----------+----------+------------------+----------+----------------+--------+--------+----------+----------+---------+---------+---------+---------+----------+----+---+---+----------+
|            nm_banco|        nm_age_bco|cd_func|       nm_func| dt_inicio|cd_gerente|nr_cpf_funcionario|vl_salario|vl_perc_comissao|cd_depto|cd_cargo|cd_agencia|nm_agencia|cd_cidade|nm_cidade|cd_estado|nm_estado|dt_locacao| ano|mes|dia|dia_semana|
+--------------------+------------------+-------+--------------+----------+----------+------------------+----------+----------------+--------+--------+----------+----------+---------+---------+---------+---------+----------+----+---+---+----------+
|Banco Rural Mais ...|RUA JOSE BONIFACIO|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|2012|  3|  9|         6|
|Banco Rural Mais ...|RUA JOSE BONIFACIO|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|2012|  3|  9|         6|
|Banco Rural Mais ...|RUA JOSE BONIFACIO|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|2012|  3|  9|         6|
|Banco Rural Mais ...|RUA JOSE BONIFACIO|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|2012|  3|  9|         6|
|Banco Rural Mais ...|RUA JOSE BONIFACIO|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|2012|  3|  9|         6|
|Banco Rural Mais ...|RUA JOSE BONIFACIO|     10|Diogo Sanguino|2013-03-13|         3|              null|   2145.74|            3.00|      10|       6|        16| COQUEIROS|       13| SOROCABA|        3|S?o Paulo|2012-03-09|2012|  3|  9|         6|